{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}
  <meta name="google-site-verification" content="bEb0Jz76RbHrJ0rDtTLKUq2uWXanrUsLnhnOLa42F2E" />
{% endblock %}

{% block tabs %}
  {{ super() }}
  <style>
    .md-tabs {
      color: black;
      background-color: initial;
      border-bottom: none !important;
    }
  </style>
  <section class="hero">
    <img class="hero__image" src="{{ 'assets/imgs/hero1.webp' | url }}" alt="ICPP 2026 hero image" />
    <div class="hero__overlay">
      <img class="hero__logo" src="{{ 'assets/logo.png' | url }}" alt="ICPP 2026 logo" />
      <h1 class="hero__title">55th International Conference on Parallel Processing</h1>
      <p class="hero__subtitle">Singapore, TBD, 2026</p>
    </div>
  </section>
{% endblock %}

{% block content %}
  {{ super() }}
  {% include "partials/sponsors.html" %}
{% endblock %}

{% block footer %}
  {{ super() }}
{% endblock %}