{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}
  <meta name="google-site-verification" content="bEb0Jz76RbHrJ0rDtTLKUq2uWXanrUsLnhnOLa42F2E" />
{% endblock %}

{% block tabs %}
  {{ super() }}
  <style>
    .md-tabs {
      color: black;
      background-color: initial;
      border-bottom: none !important;
    }
  </style>
  <section class="hero__small">
    <img class="hero__image__small" src="{{ 'assets/imgs/hero1.webp' | url }}" alt="ICPP 2026 hero image" />
    <div class="hero__overlay__small">
        {% if page.meta and page.meta.title %}
            <p class="hero__title__small">{{ page.meta.title }}</p>
        {% elif page.title and not page.is_homepage %}
            <p class="hero__title__small">{{ page.title | striptags }}</p>
        {% else %}
            <p class="hero__title__small">{{ config.site_name }}</p>
        {% endif %}
    </div>
  </section>
{% endblock %}

{% block content %}
  {{ super() }}
  {% include "partials/sponsors.html" %}
{% endblock %}